.color-555{ color: #555; }
.color-666{ color: #666; }
.color-888{ color: #555; }

.movies-container{
	display: flex;
	flex-wrap: wrap;
}

.movie-card-small{
	width: 300px;
	background: #fff;
	padding: 30px 30px 0 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px #eee solid;
	border-radius: 15px;
	box-shadow: 2px 4px 10px rgb(0,0,0,0.1);
	display: block;
}

.movie-card-small .movie-thumbnail{
	border-radius: 20px;
	margin-bottom: 20px;
	width: 100%;
	align-self: flex-start;
	justify-self: left-start;
}

.movie-card-small .movie-information{
	width: 100%;
	align-self: flex-start;
	justify-self: left-start;
}

.movie-card-small .title-section{
	width: 100%;
	display: flex;
	align-self: flex-start;
	justify-content: space-between;
}

.movie-card-small .title-section .movie-title{
	font-size: 24px;
	font-weight: 600;
	color: #555;
}

.movie-card-small .title-section .movie-rating{
	padding: 5px 10px;
	color: #555;
	background: #ffd571;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
}

.movie-card-small .movie-overview{
	margin-bottom: 10px;
}

.movie-card-small .movie-genre{
	color: #888;
	margin-bottom: 5px;
}

.movie-card-small .movie-description{
	text-align: justify;
}

.movie-action{
	margin-top: 20px;
	border-top: 1px #eee solid;
	padding: 20px 0;
	position: relative;
}
