header {
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	height: 60px;
	max-height: 60px;
	background: white;
	box-shadow: 0 10px 20px rgb(0,0,0,0.05);
}

header .header-logo{
	height: 60px;
	max-height: 60px;
	display: inline-block;
	float:left;
}
header .header-logo img{
	height: 60px;
	max-height: 60px;
}

header nav{
	height: 50px;
	max-height: 50px;
	display: inline;
	float: right;
}

header nav a {
	padding: .8vh 2.5vh 0;
	text-decoration: none;
	color: #666;
}

header nav a:hover {
	color: #444;
	font-weight: 600;
}
