#article-list .article{
	border-bottom: 1px #eee solid;
	margin-bottom: 10px;
}

#article-list .article:hover{
	border-bottom: 1px #eee solid;
	margin-bottom: 10px;
	color: 000;
	padding-left: 5px;
}

#article-list .article a{
	text-decoration: none;
}

#article-list .article a h3{
	margin-bottom: 10px!important;
}

#article-list .article:hover a h3{
	color: blue;
}

#article-list .article p{
	text-decoration: none;
	margin-top: 5px!important;
}

#article-list .article a h3:hover{
	text-decoration: border;
	border-bottom: 1 solid #eee;
}

#article-list h1{
	color: red;
}
